<h2>List of Celebrities</h2>
<a href="/">Go Back</a>
<hr />
<br />
{{#each allcelebrities}}
  <br />
  <p>Celebrity Name: {{this.name}}</p>
  <p>Occupation: {{this.occupation}}</p>
  <p>Catch Phrase: {{this.catchPhrase}}</p>
  <a href="/celebrities/{{this.id}}">See more</a>
  <br />
  <br />
{{/each}}