<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr />
<b><a href="/celebrities/create">Create a Celebrity!</a></b>
<br />
<a href="/celebrities">Show all celebrities</a>
<br />
<br />
<b><a href="/movies/create">Create a Movie!</a></b>
<br />
<a href="/movies">Show all Movies</a>