<h2>New Movie</h2>
<hr />
<br />
<form action="/movies/create" method="POST">
  Title:
  <input type="text" name="title" />
  <br />
  Genre:
  <input type="text" name="genre" />
  <br />
  Plot:
  <input type="text" name="plot" />
  <br />
  Cast:
  <input type="text" name="cast" />
  <br />
  <br />
  <button type:"submit">Submit</button>
</form>
